<div id="section-topbar">
    <div id="topbar-inner">
        <div class="container">
            <div class="row">
                <div class="dropdown">
                    <ul id="nav" class="nav">
                        <li class="menu-item"><a class="smoothScroll" href="#summary-experience" title="Summary Experience"><i class="fa fa-user"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#education" title="Education"><i class="fa fa-book"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#work" title="Work"><i class="fa fa-briefcase"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#skill" title="Skills"><i class="fa fa-code"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
