<section id="work" name="work"></section>
<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5><i class="fa fa-briefcase"></i> WORK</h5>
        </div>
        <div class="col-lg-9">
            <accordion>
                <accordion-group [panelClass]="panel-primary"
                                 *ngFor="let work of workHistory">
                    <div accordion-heading 
                         (click)="work.isOpen = !work.isOpen">
                        {{work.company + ' (' + work.yearStart + '-' + work.yearEnd + ')'}}
                        <i class="pull-right glyphicon"
                           [ngClass]="{'glyphicon-chevron-down': work?.isOpen, 'glyphicon-chevron-right': !work?.isOpen}"></i>
                    </div>
                        <t>PROJECT(S)</t>
                    <accordion-group *ngFor="let project of work.projects">
                        <div accordion-heading
                             (click)="project.isOpen = !project.isOpen">
                            {{project.title}}
                            <i class="pull-right glyphicon"
                               [ngClass]="{'glyphicon-chevron-down': project?.isOpen, 'glyphicon-chevron-right': !project?.isOpen}"></i>
                        </div>
                        <p>
                            <more>{{project.description}}</more>
                        </p>
                        <div *ngFor="let role of project.roles">
                            <p>
                                <t>{{role.title}}</t><br />
                            </p>
                            <p>
                                <t>Responsibilities</t><br />
                            </p>
                            <ul>
                                <li *ngFor="let responsibility of role.responsibilities">
                                    {{responsibility}}
                                </li>
                            </ul>
                        </div>
                        <p>
                            <t>Technologies</t><br />
                            <sm>{{project.technologies}}</sm>
                        </p>
                    </accordion-group>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <br>
    <hr>
</div>