<section id="summary-experience" name="summary-experience">
    <div id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5><i class=" fa fa-user"></i>SUMMARY EXPERIENCE</h5>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li *ngFor="let summary of summaries; let i = index">
                            {{ summary.text }}
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>