<section id="contact" name="contact"></section>
<!--  FOOTER DESCRIPTION   -->
<div id="footwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5><i class="fa fa-envelope"></i> CONTACT</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <i>Email</i><br />
                    <a href="mailto:vincent.megia@gmail.com">vincent.megia@gmail.com</a>
                    <br/>
                </p>
                <p>
                    <i>Resume</i><br />
                    <a href="/documents/vincent-megia.zip" download="vincent-megia.zip">Download</a>
                    <br />
                </p>
                
            </div>
            <div class="col-lg-3">
                <p>
                    <i>SOCIAL LINKS</i>
                </p>
                <p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>