<div>
    <app-header></app-header>
    <app-title></app-title>
    <app-summary></app-summary>
    <app-education></app-education>
    <app-work></app-work>
    <app-skill></app-skill>
    <app-footer></app-footer>
    <app-signature></app-signature>
</div>