<section id="summary-experience" name="summary-experience"></section>
<div id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>SUMMARY EXPERIENCE</h5>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li *ngFor="let description of descriptions; let i = index">
                        {{ description }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>