<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Pragma" content="no-cache">
    <title>Vincent Megia Resume</title>

    <environment names="Development">
        <!-- Css -->
        <link rel="stylesheet" asp-href-include="~/css/*.css"/>
        <link rel="shortcut icon" asp-href-include="~/images/icons/*.png"/>
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css"/>
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css"/>
        
        <!-- TODO: Move package dependency managemtn to systemjs -->
        <script src="~/libraries/jquery/dist/jquery.js"></script>
        <script src="~/libraries/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/libraries/es6-shim/es6-shim.min.js"></script>
        <script src="~/libraries/zone.js/dist/zone.js"></script>
        <script src="~/libraries/reflect-metadata/Reflect.js"></script>
        <script src="~/libraries/systemjs/dist/system.js"></script>
        <script src="~/libraries/chart.js/dist/Chart.js"></script>
        <script src="~/scripts/smoothscroll.js"></script>
        
        
        <!-- 2. Configure SystemJS -->
        <script src="~/scripts/systemjs.config.js"></script>
        <script src="~/scripts/main.js"></script>
    </environment>

    <environment names="Production">
        <!-- Css -->
        <link rel="stylesheet" asp-href-include="~/css/*.min.css" asp-append-version="true">
        <!-- Js -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/system.min.js"></script>
        <script src="~/js/rx.min.js"></script>
        <script src="~/js/typescript.min.js"></script>
        <script src="~/js/angular2/angular2.dev.min.js"></script>
        <script src="~/js/angular2/angular2-polyfills.min.js"></script>
        <script src="~/js/angular2/http.dev.min.js"></script>
        <script src="~/js/angular2/router.dev.min.js"></script>
    </environment>
</head>
<base href="/" />
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>