<section id="contact" name="contact"></section>
<!--FOOTER DESCRIPTION -->
<div id="footwrap">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>CONTACT</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Email</t><br />
                    vincent.megia@gmail.com<br/>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>SOCIAL LINKS</sm>
                </p>
                <p>
                    <a href="#"><i class="icon-dribbble"></i></a>
                    <a href="#"><i class="icon-twitter"></i></a>
                    <a href="#"><i class="icon-facebook"></i></a>
                    <a href="#"><i class="icon-linkedin"></i></a>
                    <a href="#"><i class="icon-apple"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>